* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(/images/conference_talk.jpg);
    object-fit: cover;
}